<div class="container">
    <form role="search" name="summonBox" method="get" action="https://cca.summon.serialssolutions.com" class="search-form main-search form-inline">
      <select class="form-control input-lg" name="search-engine">
          <option value="summon">CCA Libraries' Search</option>
          <option value="koha">The Catalog</option>
          <option value="option3">Option #3</option>
      </select><input placeholder="Find books, articles, media, & more..." class="input-lg form-control" type="text" name="q" maxlength="240" value="" style="width: 420px;"><button style="height:46px" class="btn btn-primary" type="submit">Find</button>
    </form>
</div>
