<footer class="footer row">
    <div class="col-md-3">
        <form class="search-form" role="search" action="#">
            <label class="hide" for="footer_search">  search this site </label>
            <input id="footer_search" type="text" class="input-lg form-control" name="q" placeholder="search this site" autocomplete="off" autocorrect="off" autocapitalize="off">
        </form>
        <br><br>
        <a href="#" class="btn btn-block btn-lg btn-primary">ASK US</a>
    </div>
    <div class="col-md-3">
        <ul class="menu list-unstyled">
            <li><a href="#">thing one</a></li>
            <li><a href="#">thing two</a></li>
            <li><a href="#">thing three</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul class="menu list-unstyled">
            <li><a href="#">thing four</a></li>
            <li><a href="#">thing five</a></li>
            <li><a href="#">thing six</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <p>Simpson Library | San Francisco | 1111 8th St | 415-123-1234</p>
        <p>Meyer Library | Oakland | 5212 Broadway | 510-123-1234</p>
        <ul class="social-icons clearfix list-unstyled">
            <li><a href="http://www.twitter.com/CACollegeofArts" class="icon-twitter"><span class="sr-only">Twitter</span></a></li>
            <li><a href="http://instagram.com/cacollegeofarts" class="icon-instagram"><span class="sr-only">Instagram</span></a></li>
            <li><a href="http://www.facebook.com/CaliforniaCollegeoftheArts" class="icon-facebook"><span class="sr-only">Facebook</span></a></li>
        </ul>
    </div>
</footer>
